#clockContainer{
    margin:auto;
    border-radius: 2px solid blue;
    background-color: red;
    height: 60vw;
    width: 60vw;
    background: url(clock.png) no-repeat;
    background-size: 90%;
}